html,body {
  height: 100%;
}

table.profile td {
  padding: 7px;
  padding-bottom: 10px;
  padding-right: 30px;
}

#footer {
  height: 60px;
  background-color: #F5F5F5;
  text-align: center;
  border-top: solid 1px gray;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#records {
  font-size: 14px;
}

#wrap {
  font-family: Calibri, Arial, "Helvetica Nue", sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 70px 0 60px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.footer-text {
  padding-right: 30px;
  padding-left: 30px;
}


/* Override dataTables style */
div.dataTables_length label {
  width: 460px;
  float: left;
  text-align: left;
}
 
div.dataTables_length select {
  width: 75px;
}
 
div.dataTables_filter label {
  float: right;
  width: 460px;
}
 
div.dataTables_info {
  padding-top: 8px;
}
 
div.dataTables_paginate {
  float: right;
  margin: 0;
}

ul.pagination {
  font-size: 13px;
}

.pagination>.active>a {
  background-color: #556394;
  border-color: #556394;
}

.pagination>li>a {
  color: #556394;
}
 
table {
  margin: 1em 0;
  clear: both;
}